name: Fetch JSON and Convert to CSV

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch:

jobs:
  fetch-convert-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install python-Levenshtein
          python -m pip install --upgrade pip
          pip install requests pandas beautifulsoup4 fuzzywuzzy datetime 

      - name: Fetch JSON and Convert to CSV
        run: |
          python fetch_json_to_csv.py
          ls

      - name: Commit CSV file
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add *.csv
          git status
          git commit -m "Update sm.csv from JSON" || echo "No changes to commit" 
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
